shamefully-hoist=true
auto-install-peers=true
strict-peer-dependencies=false
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*storybook*
public-hoist-pattern[]=@nx/*
engine-strict=false
